<h1 class="text-2xl">Todo List</h1>

<%= form_with(model: List.new, class: "my-10") do |form| %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "new todo", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-2/4" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<table class="w-3/5 mt-10 border-separate table-auto text-slate-500">
  <thead>
    <tr>
      <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">ID</th>
      <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200 w-full">Descrição</th>
      <th class="p-3 text-sm font-semibold  text-left text-gray-700 bg-gray-200">Ação</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |list| %>
      <tr>
        <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
          <%= list.id %>
        </td>
        <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50 hover:bg-gray-300">
          <%= link_to list.name, list_items_path(list) %>
        </td>
        <td class="px-3 py-4 text-sm font-normal text-left text-red-600 underline break-words bg-light">
          <%= button_to "Deletar", list_path(list), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

