<div class="flex flex-col w-full items-center justify-center">
<h2 class="text-2xl font-bold text-center text-gray-700">Entre ou crie uma conta para acessar suas TODO lists</h2>

<div class="max-w-md mx-auto mt-6 bg-white shadow-lg rounded-lg p-6">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" %>
    </div>

    <div class="mb-4">
      <%= f.label "Senha", class: "block mb-2 text-sm font-medium text-gray-700" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4 flex items-center">
        <%= f.check_box :remember_me, class: "w-4 h-4 text-blue-600 focus:ring focus:ring-blue-300 border-gray-300 rounded" %>
        <%= f.label "Lembre de mim", class: "ml-2 text-sm text-gray-600" %>
      </div>
    <% end %>

    <div class="mt-6">
      <%= f.submit "Entrar", class: "w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded focus:outline-none focus:ring focus:ring-blue-300" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
