<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="flex flex-col items-center justify-center w-full">
  <% if user_signed_in? %>
    <div class="flex justify-between w-full mb-4 px-4">
      <p class="text-green-600 font-semibold">Bem-vindo, <%= current_user.email %>!</p>
      <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" %>
    </div>
  <% end %>

  <div class="flex gap-4 mb-4">
     <%= link_to "Todos", list_items_path(@list), 
      class: "px-4 py-2 rounded text-white #{params[:status].nil? ? 'bg-blue-500' : 'bg-gray-500 hover:bg-gray-600'}" %>

  <%= link_to "A fazer", list_items_path(@list, status: "a_fazer"), 
      class: "px-4 py-2 rounded text-white #{params[:status] == 'a_fazer' ? 'bg-blue-500' : 'bg-gray-500 hover:bg-gray-600'}" %>

  <%= link_to "Em andamento", list_items_path(@list, status: "em_andamento"), 
      class: "px-4 py-2 rounded text-white #{params[:status] == 'em_andamento' ? 'bg-blue-500' : 'bg-gray-500 hover:bg-gray-600'}" %>

  <%= link_to "Terminados", list_items_path(@list, status: "terminado"), 
      class: "px-4 py-2 rounded text-white #{params[:status] == 'terminado' ? 'bg-blue-500' : 'bg-gray-500 hover:bg-gray-600'}" %>
  </div>  

  <div class="flex flex-col items-center gap-3 md:w-8/12 w-full">
    <!-- Botão Voltar -->
    <div class="w-11/12 md:w-full flex justify-start mb-5">
      <%= link_to "← Voltar", lists_path, class: "text-blue-600 hover:text-blue-800 text-sm flex items-center gap-2" %>
    </div>

    <h1 class="text-2xl"><%= @list.name %></h1>

    <div class="w-11/12 md:w-full h-[500px] overflow-y-auto flex flex-col items-center">
      <% @items.each do |item| %>
      <% next if item.new_record? %>
      <div class="flex  gap-3 items-center justify-between w-full p-5 bg-slate-200 border-b border-slate-600 hover:bg-slate-300">
        
        <!-- Exibição do nome do item -->
        <div class="flex-1 text-wrap break-words whitespace-normal max-w-full w-full">
          <%= item.content %>
        </div>

        <!-- Formulário para alterar o status -->
        <div class="flex-1 flex items-center justify-end gap-4">
          <%= form_with url: update_status_list_item_path(@list, item), method: :patch, remote: true, html: { id: "status-form-#{item.id}" } do |f| %>
            <%= f.select :status, 
                         Item.statuses.keys.map { |status| [status.humanize, status] }, 
                         { selected: item.status }, 
                         class: "border rounded px-2 py-1 #{tailwind_status_style(item.status)}", 
                         onchange: "this.form.submit();" %>
          <% end %>
        </div>

        <!-- Botão de deletar -->
        <div>
          <%= button_to list_item_path(@list, item), method: :delete, class: "bg-transparent items-center" do %>
            <i class="fas fa-trash text-red-600 hover:text-red-800"></i>
          <% end %>
        </div>
      </div>
      <% end %>

      <!-- Formulário para adicionar novo item -->
      <%= form_with(model: [@list, @item], class: "w-full", local: true) do |form| %>
        <div class="flex items-center justify-between w-full p-5 bg-slate-200 border-b border-slate-600 hover:bg-slate-300">
          <%= form.text_field :content, placeholder: "Novo item", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-2/4" %>
          <%= button_tag(type: "submit", class: "bg-transparent border-none cursor-pointer") do %>
            <i class="fas fa-plus text-blue-600 text-2xl hover:text-blue-800"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
